---
import BaseLayout from '../../layouts/BaseLayout.astro';

interface Frontmatter {
  title: string;
  tags?: string[];
  [key: string]: any;
}

interface MarkdownPost {
  frontmatter: Frontmatter;
  file: string;
  url: string;
}

const allPosts = await Object.values(import.meta.glob<MarkdownPost>('../posts/*.md', { eager: true }));

// Get all posts that have tags defined
const postsWithTags = allPosts.filter((post) => Array.isArray(post.frontmatter.tags));

// Get unique tags
const tags = [...new Set(postsWithTags.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
</BaseLayout>

<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>